{
	"development": {
		"mongoURL": "mongodb://127.0.0.1:27017/somename",
		"jwtsecret": "somethingconfidentialhopefully",
		"refreshTokenSecret": "somethingmoreconfidentialhopefully",
		"tokenLife": "10m"
	},
	"test": {
		"mongoURL": "mongodb://127.0.0.1:27017/sometestname",
		"jwtsecret": "somethingconfidentialhopefully",
		"refreshTokenSecret": "somethingmoreconfidentialhopefully",
		"tokenLife": "10m"
	}
}
