{
	"development": {
		"mongoURL": "mongodb://127.0.0.1:27017/somename",
		"jwtsecret": "somethingconfidentialhopefully"
	},
	"test": {
		"mongoURL": "mongodb://127.0.0.1:27017/somename",
		"jwtsecret": "somethingconfidentialhopefully"
	}
}
